NEXT_PUBLIC_URL=
NEXT_PUBLIC_SOKETI_ADDRESS=
NEXT_PUBLIC_SOKETI_APP_KEY=

SECRET_KEY=
ACCESS_TOKEN=

REDIS_DSN=

SOKETI_ADDRESS=
SOKETI_APP_ID=
SOKETI_APP_SECRET=

NODE_TLS_REJECT_UNAUTHORIZED=
NODE_ENV=
